.footer {
    position: relative;
    padding: 64px 0 32px;
    background-color: $white;

    @media (min-width: $phablet-width) {
        padding: 160px 0 40px;
    }
    
    @media (min-width: $tablet-width) {
        padding: 256px 0 40px;
    }

    &::before {
        top: 0;
        left: 0;
        right: 0;
        content: "";
        position: absolute;
        display: block;
        margin: 0 auto;
        width: 280px;
        height: 1px;
        background-color: $light-gray;

        @media (min-width: $phablet-width) {
            width: 748px;
        }

        @media (min-width: $tablet-width) {
            width: 940px;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: $phablet-width) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 8px 0;
        padding: 0;
        list-style: none;

        @media (min-width: $phablet-width) {
            margin: 0;
        }
    }

    &__links-item {
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.08px;
        text-align: center;

        @media (min-width: $phablet-width) {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.32px;
            text-align: left;
        }

        @media (min-width: $tablet-width) {
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.4px;
        }

        & .link {
            display: block;
        }

        &:not(:last-child) {
            margin-right: 8px;

            @media (min-width: $phablet-width) {
                margin-right: 20px;
            }
        }
    }

    &__copyright {
        margin: 0;
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.08px;
        text-align: center;

        @media (min-width: $phablet-width) {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.32px;
            text-align: right;
        }

        @media (min-width: $tablet-width) {
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.4px;
        }
    }
}