.navigation-bar {
    padding: 20px 0;

    @media (min-width: $phablet-width) {
        padding: 40px 0;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;

        @media (min-width: $phablet-width) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__logo {
        margin: 0 0 8px;
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.08px;
        text-align: center;

        @media (min-width: $phablet-width) {
            margin: 0;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.32px;
            text-align: left;
        }

        @media (min-width: $tablet-width) {
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.4px;
        }
    }

    &__link {
        display: block;
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.08px;
        text-align: center;

        @media (min-width: $phablet-width) {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.32px;
            text-align: right;
        }

        @media (min-width: $tablet-width) {
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.4px;
        }
    }
}