.navigation-bar {
  padding: 20px 0;

  &__inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }

  &__logo {
    margin: 0 0 8px;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.08px;
    text-align: center;
  }

  &__link {
    display: block;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.08px;
    text-align: center;
  }

}