$pink: #ea4c89;
$light-pink: #fef6f9;
$gray:  #9e9ea7;
$light-gray: #f3f3f4;
$black: #0D0C22;
$light-black: #3d3d4e;
$white: #ffffff;

$mobile-width: 320px;
$phablet-width: 768px;
$tablet-width: 960px;
$laptop-width: 1200px;
$desktop-width: 1440px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;